<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
version="3.0">

<display-name>Spring MVC Application</display-name>

<!-- spring的servlet配置  开始-->
 <servlet>
      <servlet-name>TengoSpring</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>TengoSpring</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
<!-- spring的servlet配置  结束-->

<!-- <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>tengo.FirstServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>FirstHttpServlet</servlet-name>
    <servlet-class>tengo.FirstHttpServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FirstHttpServlet</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet/admin/*</url-pattern>
  </servlet-mapping> -->
</web-app>